@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Poppins', system-ui, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: var(--color-original-background);
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  scroll-behavior: smooth;
}


@theme {
    --color-original-background: #100f1c;
    --color-primary: #26C4F3;
    --color-bacgkround: #0A0A0B;
    --color-blue-background: #14142899;
    --color-navbar-border: #6464DC33;
    --color-secondary: #A64DFF;
    --color-muted-foreground: #A3A3A3;
    --color-card-foredground: #FAFAFA;
    --color-primary-foreground: #191A1E;
    --color-accent-foreground :#FAFAFA;

    
    /* Font */
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-display: 'Inter', system-ui, sans-serif;

    /* Breakpoints */
    --breakpoint-xs: 350px;
    
}


.gradient-text {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
}

.glassmorphism {
  @apply backdrop-blur-lg bg-blue-background border-b border-navbar-border;
}