@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Poppins', system-ui, sans-serif;
  color-scheme: light dark;
  background-color: var(--color-original-background);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: hsl(244 100% 76% / .5) hsl(222.2 84% 4.9%);
}


@theme {
    --color-original-background: #100f1c;
    --color-primary: #8488FF;
    --color-bacgkround: #050616;
    --color-blue-background: #14142899;
    --color-navbar-border: #6464DC33;
    --color-secondary: #1E2432;
    --color-muted-foreground: #9BA9C1;
    --color-card-foredground: #FAFAFA;
    --color-primary-foreground: #121423;
    --color-accent-foreground :#F0F8FF;
    --color-sisos-letter: rgb(132, 136, 255);

    
    /* Font */
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-display: 'Inter', system-ui, sans-serif;

    /* Breakpoints */
    --breakpoint-xs: 350px;
    
}


.gradient-text {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
}

.glassmorphism {
  @apply backdrop-blur-lg bg-blue-background border-b border-navbar-border;
}